@tailwind base;
@tailwind components;
@tailwind utilities;
.title {
  display: flex;
  width: full;
  padding-left: 2.5rem;
  position: relative;
}
.title::before {
  content: '';
  background: #0D6EFD;
  left: 0;
  height: 100%;
  width: 6px;
  position: absolute;
}
.seal {
  background: #0D6EFD;
  min-width: 600px;
  height: 100vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.seal::before {
  background: #0D6EFD;
  content: "";
  position: absolute;
  width: 585px;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.poly {
  @apply fixed h-full flex items-center justify-center;
  width: 570px;
  background: url(/iff.jpg) left no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.form {
  width: min(100%, 450px);
  padding-inline: 15px;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}